################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NewBookStore/NewBookStore/obj
/NewBookStore/.vs/NewBookStore/v16
